[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parameter-utils = {editable = true, path = "."}

[dev-packages]
pytest = "*"
moto = "*"
pyyaml = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
